/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.dark ::-webkit-scrollbar-track {
  background: rgb(27, 36, 49);
  /* background: rgb(6, 58, 114); */
}
.light ::-webkit-scrollbar-track {
  /* background: rgb(31, 41, 55); */
  background: rgba(6, 58, 114, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(17, 120, 231);
  cursor: pointer;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 157, 255);
}

.gradient-border {
  background-image: linear-gradient(90deg, blue, 20%, cyan);
}

.gradient-border:hover {
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.4);
}

.glow {
  box-shadow: 0 0 80px rgba(0, 255, 255, 0.4);
}
